<template>
  <div class="history-row">
    <div>16:05</div>
    <div>49102 USDT</div>
    <div>UP</div>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({

})
</script>

<style>
.history-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  margin-bottom: 8px;
}
</style>
