<template>
  <div class="box content m-0 is-shadowless">
    <h5><i class="fas fa-info-circle mr-2" />Disclaimer</h5>
    <p>Actually this is binary options in blockchain. You can easily make up to x10 from your deposit within hours! But as always there are risks and please DYOR.</p>
  </div>
</template>
