<template>
  <nav class="columns is-mobile is-multiline">
    <div class="column is-mobile is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">SBR price</p>
        <p class="title">{{ formatPrice(price) }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Total pairs</p>
        <p class="title">{{ metaInfo.pairsCount }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Volatile</p>
        <p class="title">{{ metaInfo.volatileCount }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">High coef</p>
        <p class="title">{{ metaInfo.highCoefCount }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Uptrend</p>
        <p class="title">{{ metaInfo.upCount }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Downtrend</p>
        <p class="title">{{ metaInfo.downCount }}</p>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import {useBlockchain} from "@/composables/blockchain";
import {PriceMetaInfo} from "@/types/blockchain";
import {animateValue, fromBaseUnit, handleError, onSyncBlockchain} from "@/util";
import {computed, defineComponent, inject, reactive, Ref, ref} from 'vue'

export default defineComponent({
  setup() {
    const metaInfo = reactive({} as PriceMetaInfo)
    const tokenPrice = inject('tokenPrice') as Ref<number>
    const formatPrice = new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format

    const price = computed(() => {
      if (tokenPrice.value) return tokenPrice.value

      if (metaInfo.tokenPrice) return fromBaseUnit(metaInfo.tokenPrice, 18, 2)

      return 0
    })

    const updateMeta = () => {
      useBlockchain().getBetManagerContract().methods.getMetaInfo().call((error: Error, result: PriceMetaInfo) => {
        if (error) { handleError(error); return }

        Object.assign(metaInfo, result)

        // animateValue(metaInfo.tokenPrice, result.tokenPrice)
      })
      // useBlockchain().getAssetManagerContract().methods.getAssetPairCount().call((error: Error, result: number) => {
      //   animateValue(assetPairsTotal, result)
      // })
      //
      // useBlockchain().getAssetManagerContract().methods.getAssetCount().call((error: Error, result: number) => {
      //   animateValue(assetsTotal, result)
      // })
    }

    // onMountedAndLoaded(updateMeta)
    onSyncBlockchain(updateMeta)

    return { metaInfo, price, formatPrice }
  }
})
</script>
