<template>
  <input class="input is-primary is-medium mb-2" type="text" placeholder="BTC" v-model="searchQuery">
</template>

<script lang="ts">
import {defineComponent, inject, Ref} from "vue";

export default defineComponent({
  setup() {
    const searchQuery = inject('searchQuery') as Ref<string>

    return { searchQuery }
  }
})
</script>
