<template>
  <div class="modal" :class="{'is-active': showModal}">
    <div class="modal-background" @click="showModal = false" />
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Your history</p>
        <button class="delete" aria-label="close" @click="showModal = false"></button>
      </header>

      <section class="modal-card-body">
        <table class="table is-fullwidth is-bordered is-hoverable">
          <thead>
            <tr>
              <td>Symbol</td>
              <td>Time</td>
              <td>Direction</td>
              <td>Result</td>
            </tr>
          </thead>
          <tr>
            <td>
              <div class="is-inline-flex">
                <div class="symbol-icon-container">
                  <img class="first-icon" src="https://exchange.pancakeswap.finance/images/coins/0x55d398326f99059ff775485246999027b3197955.png" />
                  <img class="second-icon" src="https://exchange.pancakeswap.finance/images/coins/0x7130d2a12b9bcbfae4f2634d864a1ee1ce3ead9c.png" />
                </div>
                <span class="ml-3 symbol-text">BTC / USDT</span>
              </div>
            </td>
            <td>15:45-16:00</td>
            <td class="has-text-success"><i class="fas fa-arrow-up" /> UP</td>
            <td>+7.92 WIRS</td>
          </tr>
          <tr>
            <td>
              <div class="is-inline-flex">
                <div class="symbol-icon-container">
                  <img class="first-icon" src="https://exchange.pancakeswap.finance/images/coins/0xe9e7cea3dedca5984780bafc599bd69add087d56.png" />
                  <img class="second-icon" src="https://exchange.pancakeswap.finance/images/coins/0x2170ed0880ac9a755fd29b2688956bd959f933f8.png" />
                </div>
                <span class="ml-3 symbol-text">ETH / BUSD</span>
              </div>
            </td>
            <td>16:45-17:00</td>
            <td class="has-text-danger"><i class="fas fa-arrow-down" /> DOWN</td>
            <td>0</td>
          </tr>
          <tr>
            <td>
              <div class="is-inline-flex">
                <div class="symbol-icon-container">
                  <img class="first-icon" src="https://exchange.pancakeswap.finance/images/coins/0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d.png" />
                  <img class="second-icon" src="https://exchange.pancakeswap.finance/images/coins/bnb.png" />
                </div>
                <span class="ml-3 symbol-text">BNB / USDC</span>
              </div>
            </td>
            <td>17:30-17:45</td>
            <td class="has-text-success"><i class="fas fa-arrow-up" /> UP</td>
            <td>+1.19 WIRS</td>
          </tr>
          <tr>
            <td>
              <div class="is-inline-flex">
                <div class="symbol-icon-container">
                  <img class="first-icon" src="https://exchange.pancakeswap.finance/images/coins/0x55d398326f99059ff775485246999027b3197955.png" />
                  <img class="second-icon" src="https://exchange.pancakeswap.finance/images/coins/0x56b6fb708fc5732dec1afc8d8556423a2edccbd6.png" />
                </div>
                <span class="ml-3 symbol-text">EOS / USDT</span>
              </div>
            </td>
            <td>19:45-20:00</td>
            <td class="has-text-success"><i class="fas fa-arrow-up" /> UP</td>
            <td>
              <progress class="progress is-small is-success" value="73" max="100" />
            </td>
          </tr>
        </table>
      </section>

      <footer class="modal-card-foot">
        <button class="button" @click="showModal = false">{{ t('close') }}</button>
      </footer>
    </div>
  </div>

  <div class="mb-4">
<!--    <div class="block is-flex is-flex-direction-row">-->
<!--      <span class="tag is-success mr-2">uptrend</span>-->
<!--      <span class="tag is-danger mr-2">downtrend</span>-->
<!--      <span class="tag is-info mr-2">volatile</span>-->
<!--      <span class="tag is-warning mr-2">trending</span>-->
<!--    </div>-->

    <div class="is-flex is-align-items-center is-justify-content-space-between">
      <div class="field">
        <input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-rounded">
        <label for="switchRoundedDefault">Deposited only</label>
      </div>

      <button class="button is-primary" @click="showModal = true">
        <span class="icon"><i class="fas fa-history"></i></span>
        <span>History</span>
      </button>
    </div>

  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from 'vue'
import {useI18n} from 'vue-i18n'

export default defineComponent({
  setup() {
    const { t } = useI18n()

    const showModal = ref(false)

    return { t, showModal }
  }
})
</script>

<style scoped>
.symbol-text {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}

.symbol-icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  box-sizing: border-box;
  height: 25px;
  width: 37px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.first-icon, .second-icon {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border: solid 1px #2a9fd6;
  border-radius: 999px;
}

.second-icon {
  left: 12px;
}
</style>
