<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

<!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
<!--    <title><%= htmlWebpackPlugin.options.title %></title>-->

    <link rel="icon" href="<%= BASE_URL %>icon.png">
    <title>Sweet Berry Finance</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
