<template>
  <div class="pt-4 is-size-5">
    <div class="columns is-multiline is-6 is-size-6-mobile">
      <div class="column is-half is-full-mobile">
        <FarmLeftInfo />
      </div>

      <div class="column is-half is-full-mobile">
        <FarmRightInfo />
      </div>

      <div class="column is-half is-full-mobile">
        <FarmDeposit />
      </div>

      <div class="column is-half is-full-mobile has-text-right has-text-left-mobile">
        <FarmWithdraw />
      </div>

      <div class="column is-full has-text-right" v-if="farmMeta.pendingReward > 0">
        <FarmPendingReward />
      </div>

    </div>

  </div>
</template>

<script lang="ts">
import FarmDeposit from "@/components/farm/FarmDeposit.vue";
import FarmLeftInfo from "@/components/farm/FarmLeftInfo.vue";
import FarmPendingReward from "@/components/farm/FarmPendingReward.vue";
import FarmRightInfo from "@/components/farm/FarmRightInfo.vue";
import FarmWithdraw from "@/components/farm/FarmWithdraw.vue";
import {FarmMeta} from "@/types/blockchain";
import {defineComponent, inject, Ref} from 'vue'

export default defineComponent({
  name: 'FarmBody',
  components: {FarmPendingReward, FarmWithdraw, FarmDeposit, FarmRightInfo, FarmLeftInfo},
  setup() {
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>

    return { farmMeta }
  }
})
</script>

<style scoped>
.top-border {
  border-top: solid 1px #2a9fd6
}
</style>
