<template>
  <div class="has-text-left">
    <div class="is-size-6">Deposited: <strong class="ml-2 has-text-warning">{{ deposited }}</strong> {{ farmMeta.tokenSymbol }}</div>
  </div>

  <div class="control mt-2 has-icons-right">
    <input v-model="withdrawValue" class="input is-medium" placeholder="0.0">
    <span class="icon is-right mr-4" style="width: max-content">{{ farmMeta.tokenSymbol }}</span>
  </div>

  <input
      class="mt-1 mb-1 slider is-fullwidth is-info is-circle"
      v-model="withdrawValue"
      :step="fromBaseUnit(farmMeta.deposited, farmMeta.tokenDecimals) / 1000"
      :min="0"
      :max="fromBaseUnit(farmMeta.deposited, farmMeta.tokenDecimals)"
      :disabled="deposited == 0"
      type="range">

  <div class="is-flex is-justify-content-space-between is-fullwidth">
    <button class="button is-small is-rounded" :disabled="deposited == 0" :class="{'is-primary': withdrawValue && withdrawValue >= depositedMul(0.1)}" @click="withdrawValue = depositedMul(0.1)">10%</button>
    <button class="button is-small is-rounded" :disabled="deposited == 0" :class="{'is-primary': withdrawValue && withdrawValue >= depositedMul(0.25)}" @click="withdrawValue = depositedMul(0.25)">25%</button>
    <button class="button is-small is-rounded" :disabled="deposited == 0" :class="{'is-primary': withdrawValue && withdrawValue >= depositedMul(0.5)}" @click="withdrawValue = depositedMul(0.5)">50%</button>
    <button class="button is-small is-rounded" :disabled="deposited == 0" :class="{'is-primary': withdrawValue && withdrawValue >= depositedMul(0.75)}" @click="withdrawValue = depositedMul(0.75)">75%</button>
    <button class="button is-small is-rounded" :disabled="deposited == 0" :class="{'is-primary': withdrawValue && withdrawValue >= depositedMul(1)}" @click="withdrawValue = depositedMul(1)">100%</button>
  </div>

  <div class="mt-4 is-flex is-align-items-center is-justify-content-flex-end">
    <vue-countdown class="mr-4 is-size-6" v-if="timeToUnlock > 0" :time="timeToUnlock" v-slot="{ hours, minutes, seconds }">
      Lock time: {{ leadingZero(hours) }}:{{ leadingZero(minutes) }}:{{ leadingZero(seconds) }}
    </vue-countdown>

    <button :disabled="timeToUnlock > 0" class="button is-primary" @click="sendMakeWithdraw">Withdraw</button>
  </div>
</template>

<script lang="ts">
import {useBlockchain} from "@/composables/blockchain";
import {useEmitter} from "@/composables/emitter";
import {useWallet} from "@/composables/wallet";
import {config} from "@/config";
import {key} from "@/store";
import {FarmMeta} from "@/types/blockchain";
import {fromBaseUnit, handleError, leadingZero, syncBlockchain, waitForTransaction} from "@/util";
import {BigNumber} from "ethers";
import {computed, defineComponent, inject, ref, Ref} from 'vue'
import {useToast} from "vue-toastification";
import {useStore} from "vuex";
import Web3 from "web3";

export default defineComponent({
  name: 'FarmWithdraw',
  setup() {
    const store = useStore(key)

    const isLoading = inject('isLoading') as Ref<boolean>
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>
    const address = inject('address') as Ref<string>
    const isConnected = inject('isConnected') as Ref<boolean>

    const deposited = computed(() => fromBaseUnit(farmMeta.value.deposited, farmMeta.value.tokenDecimals).toString())
    const withdrawValue = ref(0)
    // const withdrawValueWei = computed(() => toBaseUnit(withdrawValue.value.toString(), farmMeta.value.tokenDecimals))
    const withdrawValueWei = computed(() => BigNumber.from(Web3.utils.toWei(withdrawValue.value.toString(), 'ether')))
    const timeToUnlock = computed(() => farmMeta.value.unlockTime * 1000 - (new Date().getTime()))
    const depositedMul = (c: number): number => parseFloat(deposited.value.toString()) * c

    const sendMakeWithdraw = () => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      if (!isConnected.value) {
        useEmitter().emit(config.events.OPEN_WALLET_MODAL)
        isLoading.value = false
        return
      }

      if (withdrawValueWei.value.isZero()) {
        useToast().warning(`cannot withdraw 0 ${farmMeta.value.tokenSymbol}`)
        return
      }

      useBlockchain().getFarmManagerContract(provider).methods.withdraw(
          farmMeta.value.farmId, withdrawValueWei.value.toString()
      ).send({from: address.value}, (error: Error, txHash: string) => {
        if (error) { handleError(error); isLoading.value = false; return }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(result => {
          isLoading.value = false
          withdrawValue.value = 0
          console.error(result)
          syncBlockchain()
          useToast().info(`tx on bscscan: ${txHash}`)
        })
      })
    }

    return { farmMeta, deposited, withdrawValue, timeToUnlock, depositedMul, sendMakeWithdraw, leadingZero, fromBaseUnit }
  }
})
</script>

<style scoped>

</style>
