<template>
  <div class="top-border" />

  <div class="mt-4 is-inline-flex is-align-items-center is-size-6">
    <div class="mr-4"><span class="mr-2">Your share:</span><strong class="has-text-success">{{ share.toFixed(4) }}%</strong></div>
    <div class="mr-4"><span class="mr-2">Pending reward:</span><strong class="has-text-success">{{ parseFloat(fromBaseUnit(farmMeta.pendingReward, config.token.decimals, 8)) }}</strong> {{ config.token.symbol }}</div>
    <button class="button is-primary" :disabled="timeToUnlock > 0" @click="claimReward">Claim</button>
  </div>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {useWallet} from '@/composables/wallet'
import {config} from '@/config'
import {key} from '@/store'
import {FarmMeta} from '@/types/blockchain'
import {fromBaseUnit, handleError, syncBlockchain, waitForTransaction} from '@/util'
import {computed, defineComponent, inject, Ref} from 'vue'
import {useToast} from 'vue-toastification'
import {useStore} from 'vuex'

export default defineComponent({
  name: 'FarmPendingReward',
  setup() {
    const store = useStore(key)

    const isLoading = inject('isLoading') as Ref<boolean>
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>
    const address = inject('address') as Ref<string>
    const timeToUnlock = computed(() => farmMeta.value.unlockTime * 1000 - (new Date().getTime()))
    const share = computed(() => {
      if (farmMeta.value.supply == 0) return 0

      return 100 * farmMeta.value.deposited / farmMeta.value.supply
    })

    const claimReward = (): void => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      useBlockchain().getFarmManagerContract(provider).methods.claimReward(farmMeta.value.farmId).send({
        from: address.value
      }, (error: Error, txHash: string) => {
        if (error) { handleError(error); return }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(_ => {
          isLoading.value = false
          _;

          syncBlockchain()
          useToast().info(`reward claimed: ${txHash}`)
        })
      })
    }

    return { farmMeta, timeToUnlock, share, claimReward, fromBaseUnit, config }
  }
})
</script>

<style scoped>
.top-border {
  border-top: solid 1px #2a9fd6
}
</style>
