<template>
  <div class="box content m-0 is-shadowless">
    <h5><i class="fas fa-info-circle mr-2" />Disclaimer</h5>
    <p>Farms give you an opportunity to earn even more with high APRs. You can stake your assets and earn SBR - SweetBerry native token. So then you can x10 it in price prediction.</p>
  </div>
</template>

<script>
export default {
  name: "FarmDescription"
}
</script>

<style scoped>

</style>
