<template>
  <div class="has-text-centered p-4" style="background-color: #3e5167; border-radius: 12px">
    <div>
      <div class="is-inline">Farm rate:</div><strong class="ml-2">{{ rewardPerBlock }} {{ config.token.symbol }} / block</strong>
    </div>
    <div>
      <div class="is-inline mt-2">Lock period:</div><strong class="ml-2">{{ lockHours }} hours</strong>
    </div>
  </div>
</template>

<script lang="ts">
import {config} from '@/config'
import {FarmMeta} from '@/types/blockchain'
import {fromBaseUnit} from '@/util'
import {defineComponent, inject, Ref} from 'vue'

export default defineComponent({
  name: 'FarmRightInfo',
  setup() {
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>
    const rewardPerBlock = fromBaseUnit(farmMeta.value.farm.rewardPerBlock, config.token.decimals).toString()
    const lockHours = farmMeta.value.farm.lockTime / 3600

    return { farmMeta, lockHours, rewardPerBlock, config }
  }
})
</script>

<style scoped>

</style>
