<template>
  <div class="has-text-centered p-4 is-flex is-flex-direction-column is-justify-content-space-between" style="height: 100%; background-color: #3e5167; border-radius: 12px">
    <div>
      <div class="is-inline">Reward from</div> <strong>{{ farmMeta.farm.blockFrom }}</strong> to <strong>{{ farmMeta.farm.blockTo }}</strong>
    </div>
    <progress class="mt-2 progress is-small is-success" :value="farmMeta.progress" max="100" />
  </div>
</template>

<script lang="ts">
import {FarmMeta} from "@/types/blockchain";
import {defineComponent, inject, Ref} from 'vue'

export default defineComponent({
  name: 'FarmLeftInfo',
  setup() {
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>

    return { farmMeta }
  }
})
</script>

<style scoped>

</style>
