<template>
  <div class="has-text-left">
    <div class="is-size-6">Balance: <strong class="ml-2 has-text-warning">{{ balance }}</strong> {{ farmMeta.tokenSymbol }}</div>
  </div>

  <div class="control mt-2 has-icons-right">
    <input v-model="depositValue" class="input is-medium" placeholder="0.0">
    <span class="icon is-right mr-4" style="width: max-content">{{ farmMeta.tokenSymbol }}</span>
  </div>

  <input
    class="mt-1 mb-1 slider is-fullwidth is-info is-circle"
    v-model="depositValue"
    :step="fromBaseUnit(farmMeta.balance, farmMeta.tokenDecimals) / 1000"
    :min="0"
    :max="fromBaseUnit(farmMeta.balance, farmMeta.tokenDecimals)"
    type="range">

  <div class="is-flex is-justify-content-space-between is-fullwidth">
    <button class="button is-small is-rounded" :class="{'is-primary': depositValue && depositValue >= balanceMul(0.1)}" @click="depositValue = balanceMul(0.1)">10%</button>
    <button class="button is-small is-rounded" :class="{'is-primary': depositValue && depositValue >= balanceMul(0.25)}" @click="depositValue = balanceMul(0.25)">25%</button>
    <button class="button is-small is-rounded" :class="{'is-primary': depositValue && depositValue >= balanceMul(0.5)}" @click="depositValue = balanceMul(0.5)">50%</button>
    <button class="button is-small is-rounded" :class="{'is-primary': depositValue && depositValue >= balanceMul(0.75)}" @click="depositValue = balanceMul(0.75)">75%</button>
    <button class="button is-small is-rounded" :class="{'is-primary': depositValue && depositValue >= balanceMul(1)}" @click="depositValue = balanceMul(1)">100%</button>
  </div>

  <button class="mt-4 button is-primary" v-if="allowance.lt(depositValueWei)" @click="sendApprove">Approve</button>
  <button class="mt-4 button is-primary mr-4" v-else @click="sendMakeDeposit">Deposit</button>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {useEmitter} from '@/composables/emitter'
import {useWallet} from '@/composables/wallet'
import {config} from '@/config'
import {key} from '@/store'
import {FarmMeta} from '@/types/blockchain'
import {fromBaseUnit, handleError, syncBlockchain, waitForTransaction} from '@/util'
import {BigNumber} from 'ethers'
import {computed, defineComponent, inject, ref, Ref} from 'vue'
import {useToast} from 'vue-toastification'
import {useStore} from 'vuex'
import Web3 from 'web3'

export default defineComponent({
  name: 'FarmDeposit',
  setup() {
    const store = useStore(key)

    const isLoading = inject('isLoading') as Ref<boolean>
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>
    const address = inject('address') as Ref<string>
    const allowance = inject('allowance') as Ref<BigNumber>
    const isConnected = inject('isConnected') as Ref<boolean>
    const balance = computed(() => fromBaseUnit(farmMeta.value.balance, farmMeta.value.tokenDecimals).toString())
    const depositValue = ref(0)
    const depositValueWei = computed(() => BigNumber.from(Web3.utils.toWei(depositValue.value.toString(), 'ether')))
    const balanceMul = (c: number): number => parseFloat(balance.value.toString()) * c

    const sendApprove = () => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      useBlockchain().getCustomTokenContract(farmMeta.value.tokenAddress, provider).methods.approve(
          config.farmManager.address, BigNumber.from(2).pow(255).toString()
      ).send({from: address.value}, (error: Error, txHash: string) => {
        if (error) { handleError(error); isLoading.value = false; return }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(result => {
          isLoading.value = false
          console.error(result)
          syncBlockchain()
          useToast().info(`approve done: ${txHash}`)
        })
      })
    }

    const sendMakeDeposit = () => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      if (!isConnected.value) {
        useEmitter().emit(config.events.OPEN_WALLET_MODAL)
        isLoading.value = false
        return
      }

      if (depositValueWei.value.isZero()) {
        useToast().warning(`cannot deposit 0 ${farmMeta.value.tokenSymbol}`)
        isLoading.value = false
        return
      }

      useBlockchain().getFarmManagerContract(provider).methods.deposit(
          farmMeta.value.farmId, depositValueWei.value.toString()
      ).send({from: address.value}, (error: Error, txHash: string) => {
        if (error) { handleError(error); isLoading.value = false; return }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(result => {
          isLoading.value = false
          console.error(result)
          depositValue.value = 0
          syncBlockchain()
          useToast().info(`tx on bscscan: ${txHash}`)
        })
      })
    }

    return { farmMeta, allowance, balance, depositValue, depositValueWei, balanceMul, sendApprove, sendMakeDeposit, fromBaseUnit }
  }
})
</script>

<style scoped>

</style>
