<template>
  <nav class="columns is-mobile is-multiline">
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">SBR price</p>
        <p class="title">{{ formatPrice(price) }}</p>
      </div>
    </div>

    <div class="column is-mobile is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Total supply (SBR)</p>
        <p class="title">{{ totalSupply }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Current supply (SBR)</p>
        <p class="title">{{ currentSupply }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Reward per block (SBR)</p>
        <p class="title">{{ rewardPerBlock }}</p>
      </div>
    </div>
    <div class="column is-half-mobile is-one-third has-text-centered">
      <div>
        <p class="heading">Farm count</p>
        <p class="title">{{ metaInfo.farmCount }}</p>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import {useBlockchain} from "@/composables/blockchain";
import {FarmMetaInfo, PriceMetaInfo} from "@/types/blockchain";
import {fromBaseUnit, handleError, onSyncBlockchain} from "@/util";
import {computed, defineComponent, inject, reactive, Ref} from 'vue'

export default defineComponent({
  name: 'FarmMetaInfo',
  setup() {
    const metaInfo = reactive({} as FarmMetaInfo)
    const tokenPrice = inject('tokenPrice') as Ref<number>
    const formatPrice = new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format

    const price = computed(() => {
      if (tokenPrice.value) return tokenPrice.value

      if (metaInfo.tokenPrice) return fromBaseUnit(metaInfo.tokenPrice, 18, 2)

      return 0
    })

    const totalSupply = computed(() => {
      if (metaInfo.totalSupply) return fromBaseUnit(metaInfo.totalSupply, 18, 2)

      return 0
    })

    const currentSupply = computed(() => {
      if (metaInfo.totalSupply) return fromBaseUnit(metaInfo.currentSupply, 18, 2)

      return 0
    })

    const rewardPerBlock = computed(() => {
      if (metaInfo.rewardPerBlock) return fromBaseUnit(metaInfo.rewardPerBlock, 18, 5)

      return 0
    })

    const updateMeta = () => {
      useBlockchain().getFarmManagerContract().methods.getFarmMetaInfo().call((error: Error, result: PriceMetaInfo) => {
        if (error) { handleError(error); return }

        Object.assign(metaInfo, result)
      })
    }

    // onMountedAndLoaded(updateMeta)
    onSyncBlockchain(updateMeta)

    return { metaInfo, price, totalSupply, currentSupply, rewardPerBlock, formatPrice }
  }
})
</script>
