<template>
  <div class="columns is-multiline is-vcentered has-text-centered is-size-6">
    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">Stake</div>
        <div class="is-flex is-align-items-center is-justify-content-center">
          <div class="is-inline-flex is-align-items-center is-justify-content-center">
            <img class="mr-2 symbol-icon" :src="depositTokenIconUrl" />
            <strong>{{ farmMeta.tokenSymbol }}</strong>
          </div>
        </div>
      </div>
    </div>

<!--      <i class="fa fa-angle-double-right convert-icon" />-->
    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">Earn</div>
        <div class="is-flex is-align-items-center is-justify-content-center">
          <img class="symbol-icon" :src="rewardTokenIconUrl" />
          <strong class="ml-2">{{ config.token.symbol }}</strong>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">Deposited</div>
        <strong>{{ deposited }} {{ farmMeta.tokenSymbol }}</strong>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">TVL</div>
        <strong>{{ supply }} {{ farmMeta.tokenSymbol }}</strong>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">APY</div>
        <strong>{{ formatPrice(apr) }}%</strong>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div class="is-vertical">
        <div class="mb-1">Daily APY</div>
        <strong>{{ formatPrice((apr / 365).toFixed(0)) }}%</strong>
      </div>
    </div>

    <div class="column is-full-mobile is-narrow">
      <div v-if="expanded">
        <i class="fas fa-chevron-up" />
      </div>
      <div v-else>
        <i class="fas fa-chevron-down" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {config} from '@/config'
import {FarmMeta} from '@/types/blockchain'
import {fromBaseUnit} from '@/util'
import {computed, defineComponent, inject, Ref} from 'vue'

export default defineComponent({
  name: 'FarmHeader',
  setup() {
    const farmMeta = inject('farmMeta') as Ref<FarmMeta>
    const expanded = inject('expanded')
    const tokenPrice = inject('tokenPrice') as Ref<number>
    const asset = config.assetMeta[farmMeta.value.tokenSymbol]
    const displayDecimals = asset ? asset.displayDecimals : 4
    const formatPrice = new Intl.NumberFormat('en-US').format

    const deposited = computed(() => {
      return fromBaseUnit(farmMeta.value.deposited, farmMeta.value.tokenDecimals, displayDecimals)
    })

    const assetPrice = computed(() => 2500)

    const apr = computed(() => {
      return (100 * tokenPrice.value * farmMeta.value.remainReward / farmMeta.value.supply * assetPrice.value).toFixed(0)
    })

    const supply = computed(() => {
      return fromBaseUnit(farmMeta.value.supply, farmMeta.value.tokenDecimals, displayDecimals)
    })

    const depositTokenIconUrl = asset ? asset.iconUrl : require('../../assets/image/unknown.png')

    // eslint-disable-next-line @typescript-eslint/no-var-requires
    const rewardTokenIconUrl = require('../../assets/image/sbr.png')

    return {
      farmMeta, expanded, deposited, depositTokenIconUrl, supply,
      rewardTokenIconUrl, apr, formatPrice, fromBaseUnit, config}
  }
})
</script>

<style scoped>
.convert-icon {
  width: 14px;
  height: 14px;
}

.symbol-icon {
  width: 26px;
  height: 26px;
  border-radius: 50px;
}
</style>
