<template>
  <div class="box mb-5 is-shadowless">
    <div class="tags">
      <span v-for="tag in tags" :key="tag" class="tag" :class="tag.class">{{ tag.text }}</span>
    </div>

    <FarmHeader class="is-clickable" @click="expandFarm" />

    <FarmBody v-if="expanded" />
  </div>
</template>

<script lang="ts">
import FarmBody from '@/components/farm/FarmBody.vue'
import FarmHeader from '@/components/farm/FarmHeader.vue'
import {useBlockchain} from "@/composables/blockchain";
import {useEmitter} from "@/composables/emitter";
import {config} from '@/config'
import {FarmMeta, Tag} from '@/types/blockchain'
import {handleError, onMountedAndLoaded, onSyncBlockchain} from "@/util";
import {BigNumber} from "ethers";
import {defineComponent, inject, PropType, provide, Ref, ref, toRefs} from 'vue'

export default defineComponent({
  components: {FarmBody, FarmHeader},
  props: {
    tags: Array as PropType<Array<Tag>>,
    farmMeta: Object as PropType<FarmMeta>,
  },
  setup(props) {
    // const store = useStore(key)
    const {farmMeta} = toRefs(props)
    const expanded = ref(false)
    const allowance = ref(BigNumber.from(0))
    const address = inject('address') as Ref<string>

    provide('expanded', expanded)
    provide('farmMeta', farmMeta)
    provide('allowance', allowance)

    const updateAllowance = () => {
      if (!farmMeta || !farmMeta.value) throw Error('INVALID_FARM_META')
      if (!address.value) return

      useBlockchain().getCustomTokenContract(farmMeta.value.tokenAddress).methods.allowance(
          address.value, config.farmManager.address
      ).call((error: Error, result: number) => {
        if (error) { handleError(error); return }

        allowance.value = BigNumber.from(result)
      })
    }

    const expandFarm = () => {
      expanded.value = !expanded.value

      if (farmMeta && farmMeta.value) useEmitter().emit(config.events.FARM_EXPANDED, {farmId: farmMeta.value.farmId})
    }

    useEmitter().on(config.events.FARM_EXPANDED, (opts) => {
      if (!farmMeta || !farmMeta.value) return
      if (farmMeta.value.farmId !== opts.farmId) expanded.value = false
    })

    onMountedAndLoaded(updateAllowance)
    onSyncBlockchain(updateAllowance)

    return {expanded, allowance, expandFarm, config}
  }
})
</script>

<style scoped>
.box {
  border-color: #0d75a5;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.box:hover {
  border-color: #16acf1;
}

.tags {
  position: absolute;
  top: -10px;
  left: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
</style>
