<template>
  <div class="modal" :class="{'is-active': showModal}">
    <div class="modal-background" @click="showModal = false" />
    <div class="modal-card" :style="isMobile ? null : {width: 'max-content'}">
      <header class="modal-card-head">
        <p class="modal-card-title">Make a bet</p>
        <button class="delete" aria-label="close" @click="showModal = false"></button>
      </header>

      <section class="modal-card-body">
        <div class="columns is-size-6 is-0">
          <div class="column is-4">
            <div class="is-inline-flex">
              <p class="mr-2">Pair:</p>
              <strong style="white-space: nowrap;">{{ roundMeta.assetPair.first.symbol }} / {{ roundMeta.assetPair.second.symbol }}</strong>
            </div>
          </div>

          <div class="column is-4 has-text-centered-tablet">
            <div class="is-inline-flex">
              <p class="mr-2">Payout:</p>
              <strong>x{{ coefficient }}</strong>
            </div>
          </div>

          <div class="column is-4">
            <div class="is-inline-flex">
              <p class="mr-2">Direction:</p>
              <strong>{{ betDirection === BetDirection.Up ? 'UP' : 'DOWN' }}</strong>
            </div>
          </div>
        </div>

        <div class="block">
          <input v-model="betValue" class="input is-medium" type="number">
          <div class="has-text-right is-fullwidth">
            <div class="is-inline-flex is-size-7">
              <p class="mr-2">Balance:</p><strong>{{ parseFloat(formatEther(addressBalance)).toFixed(config.token.displayDecimals) }} {{ config.token.symbol }}</strong>
            </div>
          </div>

          <input
              class="slider is-circle is-fullwidth is-info mb-1 mt-1"
              step="1"
              v-model="betValue"
              :min="0"
              :max="parseFloat(formatEther(addressBalance))"
              type="range">
          <div class="is-flex is-justify-content-space-between is-fullwidth">
            <button class="button is-small" :class="{'is-primary': betValue >= addressBalanceMul(0.1)}" @click="betValue = addressBalanceMul(0.1)">10%</button>
            <button class="button is-small" :class="{'is-primary': betValue >= addressBalanceMul(0.25)}" @click="betValue = addressBalanceMul(0.25)">25%</button>
            <button class="button is-small" :class="{'is-primary': betValue >= addressBalanceMul(0.5)}" @click="betValue = addressBalanceMul(0.5)">50%</button>
            <button class="button is-small" :class="{'is-primary': betValue >= addressBalanceMul(0.75)}" @click="betValue = addressBalanceMul(0.75)">75%</button>
            <button class="button is-small" :class="{'is-primary': betValue >= addressBalanceMul(1)}" @click="betValue = addressBalanceMul(1)">MAX</button>
          </div>
        </div>
      </section>

      <footer class="modal-card-foot">
        <button class="button" @click="showModal = false">Close</button>
        <button class="button is-primary" v-if="allowance.lt(betValueWei)" @click="sendApprove">Approve</button>
        <button class="button is-primary" v-else :disabled="betValue <= 0" @click="sendMakeBet">Make bet</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {useEmitter} from "@/composables/emitter";
import {useWallet} from "@/composables/wallet";
import {config} from "@/config";
import {key} from "@/store";
import {BetDirection, RoundMeta} from "@/types/blockchain";
import {handleError, syncBlockchain, waitForTransaction} from "@/util";
import {BigNumber} from "ethers";
import {formatEther} from "ethers/lib/utils";
import {computed, defineComponent, inject, onMounted, onUnmounted, Ref, ref} from 'vue'
import {useToast} from "vue-toastification";
import {useStore} from 'vuex'
import Web3 from 'web3'

export default defineComponent({
  setup() {
    const store = useStore(key)

    const isLoading = inject('isLoading') as Ref<boolean>
    const assetPairId_ = inject('assetPairId') as Ref<number>
    const roundMeta = inject('roundMeta') as RoundMeta
    const address = inject('address') as Ref<string>
    const addressBalance = inject('addressBalance') as Ref<BigNumber>
    const allowance = inject('allowance') as Ref<BigNumber>
    const showModal = ref(false)
    const betValue = ref(0.0)
    const betValueWei = computed(() => BigNumber.from(Web3.utils.toWei(betValue.value.toString(), 'ether')))
    const betDirection = ref(BetDirection.Up)
    const isMobile = ref(false)
    const coefficient = computed(() => {
      if (betDirection.value === BetDirection.Up) return roundMeta.upCoef / 100

      return roundMeta.downCoef / 100
    })

    const addressBalanceMul = (c: number): number => (parseFloat(formatEther(addressBalance.value)) * c)

    const sendMakeBet = () => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      useBlockchain().getBetManagerContract(provider).methods.makeBet(
          assetPairId_.value, roundMeta.roundId, betDirection.value, betValueWei.value.toString()
      ).send({from: address.value}, (error: Error, txHash: string) => {
        if (error) {
          handleError(error)
          isLoading.value = false
          showModal.value = false
          return
        }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(result => {
          isLoading.value = false
          console.error(result)
          syncBlockchain()
          useToast().info(`tx on bscscan: ${txHash}`)
          showModal.value = false
        })
      })
    }

    const sendApprove = () => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      useBlockchain().getTokenContract(provider).methods.approve(
          config.betManager.address, BigNumber.from(2).pow(255).toString()
      ).send({from: address.value}, (error: Error, txHash: string) => {
        isLoading.value = false
        if (error) { handleError(error); return }

        useToast().info(`approve done: ${txHash}`)
      })
    }

    const handleResize = () => isMobile.value = window.innerWidth <= 768

    onMounted(() => {
      useEmitter().on(config.events.OPEN_BET_MODAL, ({direction, assetPairId}) => {
        if (assetPairId !== assetPairId_.value) return
        betDirection.value = direction
        showModal.value = true
      })

      window.addEventListener('resize', handleResize)
      handleResize()
    })

    onUnmounted(() => window.removeEventListener('resize', handleResize))

    return {
      roundMeta, showModal, betValue, betValueWei, betDirection, isMobile, coefficient, addressBalanceMul,
      addressBalance, allowance, BetDirection, formatEther, sendMakeBet, sendApprove, config}
  }
})
</script>
