<template>
  <table class="table is-fullwidth is-bordered is-hoverable is-scrollable">
    <thead>
    <tr>
      <td>Round #</td>
      <td>Prize pool</td>
      <td>Result</td>
    </tr>
    </thead>
    <tbody style="height: 100px">
    <tr v-for="roundMeta in roundMetaHistory" :key="roundMeta.roundId">
      <td>{{ roundMeta.roundId }}</td>
      <td>{{ calculateRoundLocked(roundMeta.round) }} {{ config.token.symbol }}</td>
      <td>
        <div class="is-inline-flex">
          <div class="has-text-success" v-if="roundMeta.priceFrom < roundMeta.priceTo">
            <span class="icon"><i class="fas fa-caret-up" /></span>
            <span>{{ calculateRoundPriceChange(roundMeta) }}%</span>
          </div>
          <div class="has-text-danger" v-else>
            <span class="icon"><i class="fas fa-caret-down" /></span>
            <span>{{ Math.abs(calculateRoundPriceChange(roundMeta)) }}%</span>
          </div>

          <div class="ml-4" v-if="isConnected && roundMeta.pendingReward > 0">
            <button
                @click="collectReward(roundMeta.roundId)"
                v-if="roundMeta.pendingReward !== '0'"
                class="button is-small is-success ml-2"
            >
              <span class="icon is-small"><i class="fas fa-dollar-sign" /></span>
              <span>Claim {{ parseFloat(formatEther(roundMeta.pendingReward)).toFixed(2) }} {{ config.token.symbol }}</span>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {useWallet} from "@/composables/wallet";
import {config} from '@/config'
import {key} from '@/store'
import {RoundMeta} from "@/types/blockchain";
import {handleError, syncBlockchain, waitForTransaction} from '@/util'
import {formatEther} from 'ethers/lib/utils'
import {defineComponent, inject, Ref} from 'vue'
import {useToast} from 'vue-toastification'
import {useStore} from 'vuex'

export default defineComponent({
  setup() {
    const {calculateRoundLocked, calculateRoundPriceChange} = useBlockchain()
    const store = useStore(key)

    const isLoading = inject('isLoading') as Ref<boolean>
    const assetPairId = inject('assetPairId') as Ref<number>
    const address = inject('address') as Ref<string>
    const roundMetaHistory = inject('roundMetaHistory') as Ref<RoundMeta[]>
    const isConnected = inject('isConnected')

    const collectReward = (roundId: number) => {
      const provider = store.state.wallet.provider
      isLoading.value = true

      useBlockchain().getBetManagerContract(provider).methods.collectRoundReward(
          assetPairId.value, roundId
      ).send({from: address.value}, (error: Error, txHash: string) => {
        if (error) { handleError(error); isLoading.value = false; return }

        waitForTransaction(useWallet().getWeb3(provider), txHash).then(_ => {
          isLoading.value = false
          _;
          useToast().success(`Reward collected in tx: ${txHash}`)
          syncBlockchain()
        })
      })
    }

    return {calculateRoundLocked, calculateRoundPriceChange, isConnected, roundMetaHistory, collectReward, formatEther, config}
  }
})
</script>
