<template>
  <apexchart type="line" height="250" :options="chartOptions" :series="series" />
</template>

<script lang="ts">
import {PriceTick, RoundMeta} from '@/types/blockchain'
import {BigNumber, FixedNumber} from "ethers";
import {defineComponent, inject, reactive, Ref} from 'vue'

let chartOptions = {
  // eslint-disable-next-line
  annotations: {xaxis: [] as any[]},
  // theme: { mode: 'dark' },
  chart: {
    toolbar: { show: false },
    height: 250,
    foreColor: '#dee5ed',
    zoom: { enabled: false },
    animations: { enabled: false },
    width: '100%',
  },
  // markers: { size: 2, colors: ['#2a9fd6'], strokeColors: ['#2a9fd6'] },
  colors: ['#3884d3'],
  stroke: { curve: 'smooth', width: 2,},
  grid: { show: false, padding: { top: 0, right: 0, bottom: 0, left: -5 } },
  xaxis: { type: 'datetime', axisBorder: { offsetX: 0, offsetY: 0 } },
  yaxis: { tooltip: { enabled: true }, labels: { offsetX: -10 }, axisBorder: { offsetX: 0, offsetY: 0 } },
}

interface ChartPoint {
  x: Date
  y: number
}

interface ChartSeries {
  data: ChartPoint[]
  name: string
}

export default defineComponent({
  setup() {
    const roundMeta = inject('roundMeta') as RoundMeta;
    const roundMetaHistory = inject('roundMetaHistory') as Ref<RoundMeta[]>
    const name = `${roundMeta.assetPair.first.symbol} / ${roundMeta.assetPair.second.symbol}`
    const series = reactive([{data: [], name}]) as ChartSeries[]

    if (roundMetaHistory.value) {
      chartOptions.annotations.xaxis = roundMetaHistory.value.map((rm: RoundMeta) => {
        return {
          x: new Date(rm.timestampFrom * 1000).getTime(),
          borderColor: '#3884d3',
          label: {
            orientation: 'vertical',
            borderColor: '#3884d3',
            style: {color: '#fff', background: '#3884d3'},
            text: `Round #${rm.roundId}`
          }
        }
      })
    }

    chartOptions.annotations.xaxis.push({
      x: new Date(roundMeta.timestampFrom * 1000).getTime(),
      borderColor: 'rgb(110,195,124)',
      label: {
        orientation: 'vertical',
        borderColor: 'rgb(110,195,124)',
        style: {color: '#fff', background: 'rgb(110,195,124)'},
        text: `Round #${roundMeta.roundId}`
      }
    })

    series[0].data = roundMeta.history.map((priceTick: PriceTick) => {
      let y = parseFloat(FixedNumber.from(priceTick.price)
          .divUnsafe(FixedNumber.fromValue(BigNumber.from(10).pow(roundMeta.decimals)))
          .round(roundMeta.assetPair.second.decimals)
          .toString())

      return {x: new Date(priceTick.timestamp * 1000), y}
    })

    return {chartOptions, series}
  }
})
</script>
