<template>
  <div class="columns has-text-centered is-vcentered">
    <div class="column is-full-mobile">
      <div tooltip="Asset to predict price direction" position="bottom">
        <div>
          <div class="is-inline-flex mt-2">
            <div class="symbol-icon-container">
              <img class="first-icon" :src="getIconBySymbol(second.symbol)" />
              <img class="second-icon" :src="getIconBySymbol(first.symbol)" />
            </div>

            <strong class="ml-3 is-size-6 symbol-text">{{ first.symbol }} / {{ second.symbol }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div tooltip="Prize pool size">
        <div>
          <p class="is-size-6">Round locked</p>
          <strong class="is-size-6">{{ calculateRoundLocked(roundMeta.round) }} {{ config.token.symbol }}</strong>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile">
      <div tooltip="Time to round end">
        <div>
        <p class="is-size-6">Remain time</p>

        <vue-countdown :time="roundMeta.timestampTo * 1000 - new Date().getTime()" v-slot="{ hours, minutes, seconds }">
          {{ leadingZero(hours) }}:{{ leadingZero(minutes) }}:{{ leadingZero(seconds) }}
        </vue-countdown>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile">
      <p class="is-size-6">Round <strong>#{{ roundMeta.roundId }}</strong> progress</p>
      <div tooltip="Current round progress" position="bottom">
        <progress class="progress is-small mt-2" :class="roundMeta.progress > 80 ? 'is-warning' : 'is-primary'" :value="roundMeta.progress" max="100" />
      </div>
    </div>

    <div class="column is-full-mobile">
      <div tooltip="How long does round goes">
        <div>
          <p class="is-size-6">Round duration</p>
          <strong class="is-size-6">{{ roundMeta.assetPair.roundDuration / 3600 }} hours</strong>
        </div>
      </div>
    </div>

    <div class="column is-full-mobile is-narrow">
      <div v-if="expanded">
        <i class="fas fa-chevron-up" />
      </div>
      <div v-else>
        <i class="fas fa-chevron-down" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {config} from '@/config'
import {RoundMeta} from '@/types/blockchain'
import {getIconBySymbol, leadingZero} from '@/util'
import {defineComponent, inject} from 'vue'

export default defineComponent({
  components: {},
  setup() {
    const { calculateRoundLocked } = useBlockchain()
    const expanded = inject('expanded')
    const roundMeta = inject('roundMeta') as RoundMeta
    const assetPair = roundMeta.assetPair
    const first = assetPair.first
    const second = assetPair.second

    return {expanded, assetPair, first, second, leadingZero, roundMeta, calculateRoundLocked, getIconBySymbol, config}
  }
})
</script>

<style scoped>
.symbol-text {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}

.symbol-icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  box-sizing: border-box;
  height: 34px;
  width: 51px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.first-icon, .second-icon {
  position:absolute;
  left: 0;
  width: 34px;
  height: 34px;
  border-radius: 999px;
}

.second-icon {
  left: 17px;
}

.progress {
  height: 0.5rem;
}
</style>
