<template>
  <AssetPairBetModal />

  <div id="price-info">
    <div class="divider mb-5" />

    <div class="columns is-multiline is-vcentered">
      <div class="column is-half is-size-6">
        <div class="columns">
          <div class="column is-full-mobile">
            <div tooltip="Price change from round start">
              Round price: <strong>{{ formatPrice(currentPrice) }}</strong> {{ roundMeta.assetPair.second.symbol }}

              <span class="icon-text" :class="priceChange < 0 ? 'has-text-danger' : priceChange > 0 ? 'has-text-success': null">
                <span class="icon" v-if="priceChange < 0"><i class="fas fa-caret-down"></i></span>
                <span class="icon" v-if="priceChange > 0"><i class="fas fa-caret-up"></i></span>
                <span class="is-size-6">{{ Math.abs(priceChange) }}%</span>
              </span>
            </div>
          </div>
          <div class="column is-full-mobile has-text-right has-text-left-mobile">
            ChainLink <a :href="chainLinkUrl" target="_blank">source</a>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="columns">
          <div class="column is-half">
            <button
              @click="openBetModalUp"
              class="button is-success is-fullwidth"
              :disabled="bet.createdAt > 0 || roundMeta.progress > 80"
              :tooltip="bet.createdAt > 0 ? 'Bet already made' : 'Bet price go UP when round ends'"
              position="bottom"
            >
              <span class="icon is-small">
                <i class="fas fa-arrow-up"></i>
              </span>
              <span>Up x{{ roundMeta.upCoef / 100 }}</span>
            </button>
          </div>

          <div class="column is-half">
            <button
              @click="openBetModalDown"
              class="button is-danger is-fullwidth"
              :disabled="bet.createdAt > 0 || roundMeta.progress > 80"
              :tooltip="bet.createdAt > 0 ? 'Bet already made' : 'Bet price go DOWN when round ends'"
              position="bottom"
            >
              <span class="icon is-small">
                <i class="fas fa-arrow-down"></i>
              </span>
              <span>Down x{{ roundMeta.downCoef / 100 }}</span>
            </button>
          </div>
        </div>

<!--        <div v-if="bet.createdAt > 0" class="is-size-5">-->
<!--          <strong>Bet is made, wait for round end!</strong>-->
<!--        </div>-->
      </div>

      <div class="column is-full-mobile">
        <AssetPairBarBodyChart />
      </div>

      <div class="column is-full-mobile">
        <div class="table-container">
          <AssetPairBarRoundTable />
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import AssetPairBarBodyChart from '@/components/price/AssetPairBar/AssetPairBarBodyChart.vue'
import AssetPairBarRoundTable from "@/components/price/AssetPairBar/AssetPairBarRoundTable.vue";
import AssetPairBetModal from "@/components/price/AssetPairBar/AssetPairBetModal.vue";
import {useBlockchain} from "@/composables/blockchain";
import {useEmitter} from "@/composables/emitter";
import {config} from '@/config'
import {Bet, BetDirection, RoundMeta} from '@/types/blockchain'
import {handleError, onSyncBlockchain} from "@/util";
import {BigNumber, FixedNumber} from 'ethers'
import {formatEther} from "ethers/lib/utils";
import {computed, defineComponent, inject, onMounted, reactive, Ref} from 'vue'

export default defineComponent({
  components: {AssetPairBarRoundTable, AssetPairBetModal, AssetPairBarBodyChart},
  setup() {
    const assetPairId = inject('assetPairId') as Ref<number>
    const address = inject('address') as Ref<string>
    const roundMeta = inject('roundMeta') as RoundMeta
    const addressBalance = inject('addressBalance')
    const isConnected = inject('isConnected') as Ref<boolean>
    const chainLinkUrl = computed(() => `${config.explorerUrl}/address/${roundMeta.assetPair.priceFeed}#readContract`)
    const bet = reactive({} as Bet)
    const formatPrice = inject('formatPrice')
    const tags = inject('tags') as Ref<any[]>

    if (roundMeta.upCoef == 100 && roundMeta.downCoef == 100) {
      roundMeta.upCoef = 200
      roundMeta.downCoef = 200
    }

    const currentPrice = computed(() => {
      return parseFloat(FixedNumber
          .from(roundMeta.price)
          .divUnsafe(FixedNumber.fromValue(BigNumber.from(10).pow(roundMeta.decimals)))
          .round(roundMeta.assetPair.second.decimals)
          .toString())
    })

    const priceChange = computed(() => {
      const startPrice = roundMeta.priceFrom
      const endPrice = roundMeta.history[roundMeta.history.length - 1].price

      return (100 * (endPrice - startPrice) / startPrice).toFixed(2)
    })

    const syncBet = () => {
      useBlockchain().getBetManagerContract().methods.getBet(
          assetPairId.value, roundMeta.roundId
      ).call({from: address.value}, (error: Error, result: Bet) => {
        if (error) { handleError(error); return }
        Object.assign(bet, result)
      })
    }

    const openBetModalDown = () => {
      if (isConnected.value) {
        useEmitter().emit(
            config.events.OPEN_BET_MODAL, {direction: BetDirection.Down, assetPairId: assetPairId.value})
      } else useEmitter().emit(config.events.OPEN_WALLET_MODAL)
    }

    const openBetModalUp = () => {
      if (isConnected.value) {
        useEmitter().emit(
            config.events.OPEN_BET_MODAL, {direction: BetDirection.Up, assetPairId: assetPairId.value})
      } else useEmitter().emit(config.events.OPEN_WALLET_MODAL)
    }

    onSyncBlockchain(syncBet)
    onMounted(syncBet)

    return {
      currentPrice, priceChange, roundMeta, chainLinkUrl, addressBalance, bet, formatPrice,
      openBetModalDown, openBetModalUp, formatEther, config}
  }
})
</script>

<style scoped>
.table-container {
  height: 250px;
  overflow-y: scroll;
}

.divider {
  border-top: solid 1px #0d75a5;
}
</style>
