<template>
  <div class="box is-shadowless mb-5">
    <div class="tags">
      <span v-for="tag in tags" :key="tag" class="tag" :class="tag.class">{{ tag.text }}</span>
    </div>

    <AssetPairBarHeader v-if="roundMeta.assetPair" class="is-clickable" @click="expandAssetPair" />

    <AssetPairBarBody v-if="expanded" />
  </div>
</template>

<script lang="ts">
import AssetPairBarBody from '@/components/price/AssetPairBar/AssetPairBarBody.vue'
import AssetPairBarHeader from '@/components/price/AssetPairBar/AssetPairBarHeader.vue'
import {useBlockchain} from '@/composables/blockchain'
import {useEmitter} from "@/composables/emitter";
import {config} from "@/config";
import {RoundMeta, Tag} from '@/types/blockchain'
import {handleError, onSyncBlockchain} from '@/util'
import {defineComponent, inject, onMounted, provide, reactive, ref, Ref, toRefs} from 'vue'

export default defineComponent({
  components: {AssetPairBarBody, AssetPairBarHeader},
  props: {
    assetPairId: {
      type: Number,
      required: true,
    },
    // assetPair: {
    //   type: Object as PropType<AssetPair>,
    //   required: true,
    // }
  },
  setup(props) {
    const { assetPairId } = toRefs(props)
    const address = inject('address') as Ref<string>
    const roundMeta = reactive({} as RoundMeta)
    const roundMetaHistory: Ref<RoundMeta[]> = ref([])
    const tags: Ref<Tag[]> = ref([])

    const syncCurrentRoundMeta = () => {
      useBlockchain().getBetManagerContract().methods.getCurrentRoundMeta(
          assetPairId.value
      ).call((error: Error, result: RoundMeta) => {
        if (error) { handleError(error); return }

        tags.value = []

        if (result.history[0].price < result.history[result.history.length - 1].price) {
          tags.value.push({class: 'is-success', text: 'uptrend'})
        } else {
          tags.value.push({class: 'is-danger', text: 'downtrend'})
        }

        const startPrice = result.history[0].price
        const endPrice = result.history[result.history.length - 1].price
        const priceChange = (100 * (endPrice - startPrice) / startPrice)

        if (Math.abs(priceChange) > 6) {
          tags.value.push({class: 'is-info', text: 'volatile'})
        }

        // tags.value.push({class: 'is-warning', text: 'high coef'})

        Object.assign(roundMeta, result)

        syncRoundMetaHistory()
      })
    }

    if (roundMeta.downCoef > 250 || roundMeta.upCoef > 250) {
      tags.value.push({class: 'is-warning', text: 'high coef'})
    }

    const syncRoundMetaHistory = () => {
      let historySize = parseInt((108000 / roundMeta.assetPair.roundDuration).toString())
      if (historySize > 8) historySize = 8

      useBlockchain().getBetManagerContract().methods.getRoundMetaHistory(
          assetPairId.value, historySize
      ).call({from: address.value}, (error: Error, result: RoundMeta[]) => {
        if (error) { handleError(error); return }

        roundMetaHistory.value = result.filter(r => r.priceFrom > 0);

        result.forEach((r: RoundMeta) => {
          const hasWin = tags.value.filter(t => t.text == 'win').length > 0

          if (r.pendingReward > 0 && !hasWin) tags.value.push({class: 'is-success', text: 'win'})
        })
      })
    }

    const expandAssetPair = () => {
      expanded.value = !expanded.value

      if (roundMeta) useEmitter().emit(config.events.ASSET_PAIR_EXPANDED, {assetPairId: assetPairId.value})
    }

    useEmitter().on(config.events.ASSET_PAIR_EXPANDED, (opts) => {
      if (assetPairId.value !== opts.assetPairId) expanded.value = false
    })

    onSyncBlockchain(syncCurrentRoundMeta)
    onMounted(syncCurrentRoundMeta)

    const expanded = ref(false)

    provide('assetPairId', assetPairId)
    provide('expanded', expanded)
    provide('roundMeta', roundMeta)
    provide('roundMetaHistory', roundMetaHistory)
    provide('tags', tags)

    return {expanded, expandAssetPair, roundMeta, tags}
  }
})
</script>

<style scoped>
.box {
  border-color: #0d75a5;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.box:hover {
  border-color: #16acf1;
}

.tags {
  position: absolute;
  top: -10px;
  left: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
</style>
