<template>
  <div class="block mt-6 mb-6">
    <div class="columns">
      <div class="column is-two-fifths is-full-mobile is-full-mobile">
        <FarmDescription />
      </div>

      <div class="column is-three-fifths is-mobile is-full-mobile">
        <FarmMetaInfo />
      </div>
    </div>
  </div>

  <div class="block">
    <Farm v-for="farmMeta in farmMetas" :farmMeta="farmMeta" :key="farmMeta.farmId" />
  </div>
</template>

<script lang="ts">
import FarmDescription from "@/components/farm/FarmDescription.vue";
import FarmMetaInfo from "@/components/farm/FarmMetaInfo.vue";
import Farm from '@/components/farm/Index.vue'
import {useBlockchain} from '@/composables/blockchain'
import {FarmMeta} from '@/types/blockchain'
import {handleError, onMountedAndLoaded, onSyncBlockchain} from '@/util'
import {defineComponent, inject, Ref, ref} from 'vue'
import {CallOptions} from "web3-eth-contract";

export default defineComponent({
  components: {FarmDescription, FarmMetaInfo, Farm},
  setup() {
    const expanded = ref(false)
    const address = inject('address') as Ref<string>
    const farmMetas: Ref<FarmMeta[]> = ref([])

    const syncFarms = () => {
      const options: CallOptions = {}

      if (address.value) options.from = address.value

      useBlockchain().getFarmManagerContract().methods.getAllFarmsMeta().call(options, (error: Error, result: FarmMeta[]) => {
        if (error) { handleError(error); return }

        farmMetas.value = result
      })
    }

    onMountedAndLoaded(syncFarms)
    onSyncBlockchain(syncFarms)

    return { expanded, farmMetas }
  }
})
</script>
