<template>
  <div class="block mt-6 mb-6">
    <div class="columns">
      <div class="column is-two-fifths is-full-mobile is-full-mobile">
        <PriceDescription />
      </div>

      <div class="column is-three-fifths is-mobile is-full-mobile">
        <PriceMetaInfo />
      </div>
    </div>
  </div>

  <div class="block">
    <PriceSearch class="mb-5" />

    <PriceActions v-if="1==0" />

<!--    <AssetPriceBar :assetPairId="0" />-->
<!--    <AssetPriceBar :assetPairId="1" />-->

    <div v-for="assetPair in assetPairs" :key="`assetPair-${assetPair.index}`">
      <AssetPriceBar v-show="shouldShow(assetPair)" :assetPairId="assetPair.index" />
    </div>
  </div>
</template>

<script lang="ts">
import AssetPriceBar from '@/components/price/AssetPairBar/Index.vue'
import PriceActions from '@/components/price/PriceActions.vue'
import PriceDescription from "@/components/price/PriceDescription.vue";
import PriceMetaInfo from '@/components/price/PriceMetaInfo.vue'
import PriceSearch from '@/components/price/PriceSearch.vue'
import {useBlockchain} from "@/composables/blockchain";
import {AssetPair, AssetPairState} from "@/types/blockchain";
import {handleError} from "@/util";
import {defineComponent, onMounted, provide, ref} from 'vue'

export default defineComponent({
  name: 'Index',
  components: {PriceDescription, PriceActions, PriceSearch, PriceMetaInfo, AssetPriceBar},
  setup () {
    const assetPairs = ref([] as AssetPair[])
    const searchQuery = ref('')
    const shouldShow = (p: AssetPair) => {
      if (!searchQuery.value) return true

      // console.warn(searchQuery.value.toUpperCase(), p.first.symbol.includes(searchQuery.value.toUpperCase()), p.first.symbol)

      if (p.first.symbol.includes(searchQuery.value.toUpperCase())) return true
      if (p.second.symbol.includes(searchQuery.value.toUpperCase())) return true
    }

    onMounted(() => {
      useBlockchain().getAssetManagerContract().methods.getAllPairs().call((error: Error, result: AssetPair[]) => {
        if (error) { handleError(error); return }

        assetPairs.value = result.map((p: AssetPair, i: number): AssetPair => ({
          ...p,
          index: i,
        })).filter((p: AssetPair) => p.state == AssetPairState.Active)
      })
    })

    provide('searchQuery', searchQuery)

    return { assetPairs, shouldShow }
  }
});
</script>
