<template>
  <div class="container mt-6">
    <div id="hide-target" class="mb-5">
      <div class="has-background-black py-6 has-text-centered has-text-white">
        <span class="is-size-4">Hello world</span>
      </div>
    </div>

    <div class="modal is-clipped" :class="{'is-active': modalVisible}">
      <div class="modal-background" @click="modalVisible = false" />
      <div class="modal-card is-clipped">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close" @click="modalVisible = false"></button>
        </header>
        <section class="modal-card-body">
          Hello
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Save changes</button>
          <button class="button">Cancel</button>
        </footer>
      </div>
    </div>

    <div class="columns is-variable has-text-centered is-multiline">
      <div class="column is-full">
        <div class="bd-notification px-6">
          <div id="anime-target-fst" class="button is-primary" @click="goFst">Animate</div>
        </div>
      </div>

      <div class="column">
        <div class="bd-notification">
          <div id="anime-target-snd" class="button is-danger" @click="goSnd">{{ value }}</div>
        </div>
      </div>

      <div class="column">
        <div class="bd-notification">
          <div class="button is-success" @click="showModal">Modal</div>
        </div>
      </div>

      <div class="column">
        <div class="bd-notification">
          <div class="button is-warning" @click="hide()">Hello</div>
        </div>
      </div>

      <div class="column is-full">
        <div class="bd-notification px-4">
          <progress id="progress-bar" class="progress is-small is-info" :value="progressValue" max="100"/>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="is-flex is-flex-direction-row">
        <div class="mr-1">
          <span class="tag is-black">Black</span>
        </div>
        <div class="mr-1">
          <span class="tag is-dark">Dark</span>
        </div>
        <div class="mr-1">
          <span class="tag is-light">Light</span>
        </div>
        <div class="mr-1">
          <span class="tag is-primary">Primary</span>
        </div>
        <div class="mr-1">
          <span class="tag is-link">Link</span>
        </div>
        <div class="mr-1">
          <span class="tag is-info">Info</span>
        </div>
        <div class="mr-1">
          <span class="tag is-success">Success</span>
        </div>
        <div class="mr-1">
          <span class="tag is-warning">Warning</span>
        </div>
        <div>
          <span class="tag is-danger">Danger</span>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="icon-text">
  <span class="icon has-text-info">
    <i class="fas fa-info-circle"></i>
  </span>
        <span>Information</span>
      </div>

      <p class="block">
        Your package will be delivered on <strong>Tuesday at 08:00</strong>.
      </p>

      <div class="icon-text">
  <span class="icon has-text-success">
    <i class="fas fa-check-square"></i>
  </span>
        <span>Success</span>
      </div>

      <p class="block">
        Your image has been successfully uploaded.
      </p>

      <div class="icon-text">
  <span class="icon has-text-warning">
    <i class="fas fa-exclamation-triangle"></i>
  </span>
        <span>Warning</span>
      </div>

      <p class="block">
        Some information is missing from your <a href="#">profile</a> details.
      </p>

      <div class="icon-text">
  <span class="icon has-text-danger">
    <i class="fas fa-ban"></i>
  </span>
        <span>Danger</span>
      </div>

      <p class="block">
        There was an error in your submission. <a href="#">Please try again</a>.
      </p>
    </div>
  </div>

<!--  <div class="search-bar">-->
<!--    <a-input class="search-bar-input" v-model:value="value" size="large" />-->
<!--  </div>-->

<!--  <a-row class="row-container gutter-row" :gutter="[24, 24]" type="flex" justify="center" align="top">-->
<!--    <PriceBetRow v-for="n in 2" :key="n" />-->
<!--  </a-row>-->
</template>

<script lang="ts">
import animate from 'animejs'
import {defineComponent, onMounted, ref} from 'vue'

export default defineComponent({
  name: 'Index',
  components: {},
  setup () {
    const modalVisible = ref(false)
    const value = ref(0)
    const progressValue = ref(0)
    const goFst = () => {
      animate({
        targets: '#anime-target-fst',
        width: '100%',
        direction: 'alternate',
        easing: 'linear',
        duration: 1000,
      })
    }

    const goSnd = () => {
      animate({
        targets: value,
        value: 100,
        round: 1,
        easing: 'linear',
        direction: 'alternate',
        duration: 750,
      })
    }

    const showModal = () => modalVisible.value = true

    const hide = (delay = 0) => {
      const params: any = {
        delay,
        targets: '#hide-target',
        height: 0,
        opacity: 0,
        direction: 'alternate',
        // easing: 'easeInOutQuad',
        easing: 'linear',
        duration: 250,
      }

      animate(params)
    }

    const mounted = onMounted(() => {
      animate({
        targets: progressValue,
        value: 100,
        easing: 'easeOutInBounce',
        duration: 3000,
        loop: true,
        direction: 'alternate',
      })
    })

    return {modalVisible, value, progressValue, goFst, goSnd, showModal, hide, mounted}
  }
});
</script>

<style>
.bd-notification {
  background-color: #00d1b2;
  border-radius: .375em;
  color: #7a7a7a;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}
</style>
