<template>
  <Loader v-if="isLoading" />

  <div class="container">
    <WalletModal />
    <section class="section">
      <div class="block">
        <MainMenu />
      </div>

      <router-view/>
    </section>
  </div>
</template>

<script lang="ts">
import Loader from "@/components/Loader.vue";
import MainMenu from '@/components/MainMenu.vue'
import WalletModal from "@/components/WalletModal.vue";
import {useBlockchain} from '@/composables/blockchain'
import {useWallet} from '@/composables/wallet'
import {config} from '@/config'
import {key} from '@/store'
import {WalletProvider} from "@/types/wallet";
import {fromBaseUnit, handleError, onMountedAndLoaded, onSyncBlockchain, syncBlockchain} from '@/util'
import {BigNumber, FixedNumber} from 'ethers'
import {computed, defineComponent, onUnmounted, provide, Ref, ref, watch} from 'vue'
import {useStore} from 'vuex'

export default defineComponent({
  name: 'App',
  setup() {
    const store = useStore(key)

    const isLoading = ref(false)
    const address = computed(() => store.state.wallet.address)
    const addressBalance = ref(BigNumber.from(0))
    const allowance = ref(BigNumber.from(0))
    const tokenPrice = ref(0) as Ref<string | number | FixedNumber>
    const isConnected = computed(() => store.getters['wallet/isConnected'])
    const isWrongNetwork = computed(() => {
      if (!networkId.value) return false

      return networkId.value !== parseInt(config.network.chainId, 16)
    })
    const networkId = ref(0)
    const interval = setInterval(syncBlockchain, 60 * 1000);
    const formatPrice = new Intl.NumberFormat('en-US').format

    const syncAllowance = () => {
      useBlockchain().getTokenContract().methods.allowance(
          address.value, config.betManager.address
      ).call((error: Error, result: number) => {
        if (error) { handleError(error); return }

        allowance.value = BigNumber.from(result)
      })
    }

    const syncPrice = () => {
      useBlockchain().getBetManagerContract().methods.getTokenPrice().call((error: Error, result: number) => {
        if (error) { handleError(error); return }

        tokenPrice.value = fromBaseUnit(result, 18, 2)
      })
    }

    const syncBalance = () => {
      if (!address.value) return

      useBlockchain().getTokenContract().methods.balanceOf(address.value).call((error: Error, result: number) => {
        if (error) { handleError(error); return }

        addressBalance.value = BigNumber.from(result)
      })

      syncAllowance()
    }

    const provider = computed((): WalletProvider => store.state.wallet.provider)

    const subscribeNetworkChange = (p: WalletProvider) => {
      const web3 = useWallet().getWeb3(p)

      // eslint-disable-next-line
      const currentProvider = web3.currentProvider as any

      if (!currentProvider || !currentProvider.on) return

      currentProvider.on('chainChanged', (id: string) => {
        networkId.value = parseInt(id, 16)
      })
    }

    watch(address, syncBlockchain)
    watch(isConnected, syncBlockchain)
    watch(provider, subscribeNetworkChange)

    onMountedAndLoaded(() => {
      if (!provider.value) { syncBlockchain(); return }

      subscribeNetworkChange(provider.value)

      useWallet().getWeb3(provider.value).eth.net.getId((error: Error, id: number) => {
        if (!error) networkId.value = id
      })

      syncBlockchain()
    })

    onUnmounted(() => clearInterval(interval))
    onSyncBlockchain(() => {
      syncBalance()
      syncPrice()
    })

    provide('isLoading', isLoading)
    provide('address', address)
    provide('addressBalance', addressBalance)
    provide('allowance', allowance)
    provide('tokenPrice', tokenPrice)
    provide('isConnected', isConnected)
    provide('formatPrice', formatPrice)
    provide('networkId', networkId)
    provide('isWrongNetwork', isWrongNetwork)

    return { isLoading }
  },
  components: {WalletModal, Loader, MainMenu}
})
</script>

<style scoped>
.notification {
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: #0eabff;*/
  border-radius: 10px;
}
</style>
