<template>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item pl-0" href="https://google.com">
        <img src="./../assets/image/logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" @click="expanded = !expanded" :class="expanded && 'is-active'" data-target="nav-menu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </a>
    </div>

    <div class="navbar-menu" :class="expanded && 'is-active'" id="nav-menu">
      <div class="navbar-start">
        <a class="navbar-item" :class="$route.path.includes('price') && 'is-active'" href="price">
          Prediction
        </a>

        <a class="navbar-item" :class="$route.path.includes('farm') && 'is-active'" href="farm">
          Farm
        </a>

        <a class="navbar-item" :class="$route.path.includes('docs') && 'is-active'">
          Docs
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item pr-0">
<!--          <span class="mr-4">{{ tokenPrice }} <i class="fas fa-dollar-sign" /></span>-->

          <div v-if="showAddToken && !isWrongNetwork" class="is-clickable mr-4 is-inline-flex is-align-items-center" @click="addToken">
            <img class="mr-2" src="@/assets/image/metamask.png" style="width: 20px; height: 20px" />
            <span class="has-text-grey-lighter">Add SBR</span>
          </div>

          <div class="has-text-warning mr-4" v-if="isWrongNetwork && isConnected">
            <button v-if="isEthereum" class="button is-warning" @click="addNetwork">
              <span class="icon"><i class="fa fa-sync-alt" /></span>
              <span>Switch network</span>
            </button>
            <div v-else>
              <span class="is-danger">Please switch network</span>
            </div>
          </div>

          <button class="button is-primary mr-4" @click="buyToken">
            <span class="icon"><i class="fa fa-coins" /></span>
            <span>Buy SBR</span>
          </button>

          <WalletButton />
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import WalletButton from '@/components/WalletButton.vue'
import {useWallet} from "@/composables/wallet";
import {config} from '@/config'
import {key} from "@/store";
import {WalletType} from "@/types/wallet";
import {computed, defineComponent, inject, ref} from 'vue'
import {useStore} from "vuex";

export default defineComponent({
  name: 'MainMenu',
  components: {WalletButton},
  setup() {
    const store = useStore(key)

    const isWrongNetwork = inject('isWrongNetwork')
    const isConnected = inject('isConnected')
    const tokenPrice = inject('tokenPrice')
    const expanded = ref(false)
    const showAddToken = computed((): boolean => {
      if (!window || !window.ethereum) return false

      const provider = store.state.wallet.provider

      return !!(provider && provider.type === WalletType.MetaMask)
    })

    const isEthereum = computed((): boolean => {
      const provider = store.state.wallet.provider

      return provider && provider.type === WalletType.MetaMask
    })

    const addToken = () => {
      const provider = store.state.wallet.provider
      const currentProvider = useWallet().getWeb3(provider).currentProvider as any

      currentProvider.request({
        method: 'wallet_watchAsset',
        params: {
          type: 'ERC20',
          options: {
            address: config.token.address,
            symbol: config.token.symbol,
            decimals: config.token.decimals,
            image: '',
          },
        }})
    }

    const addNetwork = () => {
      const provider = store.state.wallet.provider
      const currentProvider = useWallet().getWeb3(provider).currentProvider as any

      currentProvider.request({
        method: 'wallet_addEthereumChain',
        params: [config.network]
      })
    }

    const buyToken = () => {
      const url = `${config.exchangeUrl}/swap?outputCurrency=${config.token.address}`
      window.open(url, '_blank')
    }

    return {
      isWrongNetwork, isConnected, tokenPrice, expanded, showAddToken,
      isEthereum, addToken, addNetwork, buyToken, config}
  }
})
</script>
