<template>
  <div class="modal" :class="{'is-active': showModal}">
    <div class="modal-background" @click="showModal = false" />
    <div class="modal-card" :style="!isConnected && { maxWidth: '350px' }">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ t('chooseWalletModalTitle') }}</p>
        <button class="delete" aria-label="close" @click="showModal = false"></button>
      </header>

      <section class="modal-card-body">
        <div v-if="isConnected" class="is-size-5 is-size-6-mobile">
          <strong>Address</strong>: {{ address }}
          <strong>Balance</strong>: {{ fromBaseUnit(addressBalance, config.token.decimals, config.token.displayDecimals) }} {{ config.token.symbol }}
        </div>
        <div v-else class="columns is-multiline">
          <div class="column is-full" v-for="p in allProviders" :key="`provider-${p.name}`">
            <div class="notification is-clickable" @click="connect(p)">
              <div class="is-inline-flex is-align-content-center">
                <img :src="p.iconUrl" style="width: 32px; height: 32px" /><span class="is-size-5 ml-3">{{ p.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="modal-card-foot">
        <button class="button" @click="showModal = false">{{ t('close') }}</button>
        <button v-if="isConnected" class="button is-danger" @click="disconnect">{{ t('disconnect') }}</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
import {useBlockchain} from '@/composables/blockchain'
import {useEmitter} from '@/composables/emitter'
import {useWallet} from '@/composables/wallet'
import {config} from '@/config'
import {key} from '@/store'
import {WalletProvider} from '@/types/wallet'
import {fromBaseUnit} from '@/util'
import {computed, defineComponent, inject, onMounted, ref} from 'vue'
import {useI18n} from 'vue-i18n'
import {useToast} from 'vue-toastification'
import {useStore} from 'vuex'

export default defineComponent({
  name: 'WalletModal',
  setup() {
    const store = useStore(key)
    const { t } = useI18n()
    const {shortAddress} = useBlockchain()

    const address = inject('address')
    const addressBalance = inject('addressBalance')
    const isConnected = inject('isConnected')
    // const networkId = inject('networkId') as Ref<number>

    const showModal = ref(false)
    const allProviders = computed(() => store.state.wallet.allProviders)
    const setProvider = (p: WalletProvider) => store.dispatch('wallet/setProvider', p)
    const setAddress = (a: string) => store.dispatch('wallet/setAddress', a)

    const connect = (p: WalletProvider) => {
      // if (networkId.value != undefined && networkId.value !== config.networkId) {
      //   useToast().warning('please change network')
      //   return
      // }

      useWallet().getWeb3Address(p).then(address => {
        setAddress(address)
        setProvider(p)
        showModal.value = false
        useToast().success('Wallet connected!')
      })
    }

    const disconnect = () => {
      useToast().info('Wallet disconnected')
      store.dispatch('wallet/disconnect')
      showModal.value = false
    }

    onMounted(() => {
      useEmitter().on(config.events.OPEN_WALLET_MODAL, () => showModal.value = true)
    })

    return {
      t, shortAddress, address, addressBalance, showModal, isConnected,
      allProviders, connect, disconnect, config, fromBaseUnit}
  }
})
</script>

<style scoped>

</style>
