<template>
  <button class="button is-primary" @click="openModal">
    <span v-if="isConnected" class="icon"><i class="fas fa-cubes" /></span>
    <span v-else class="icon"><i class="fas fa-plug" /></span>
    <span>{{ isConnected ? shortAddress(address) : t('connectWalletBtnText') }}</span>
  </button>
</template>

<script lang="ts">
import {useBlockchain} from "@/composables/blockchain";
import {useEmitter} from "@/composables/emitter";
import {useWallet} from '@/composables/wallet'
import {config} from '@/config'
import {key} from '@/store'
import {WalletProvider} from '@/types/wallet'
import {fromBaseUnit} from "@/util";
import {computed, defineComponent, inject, ref} from 'vue'
import {useI18n} from 'vue-i18n'
import {useToast} from 'vue-toastification'
import {useStore} from 'vuex'

export default defineComponent({
  setup() {
    const store = useStore(key)
    const { t } = useI18n()
    const {shortAddress} = useBlockchain()

    const address = inject('address')
    const isConnected = inject('isConnected')
    // const networkId = inject('networkId') as Ref<number>

    const showModal = ref(false)
    const allProviders = computed(() => store.state.wallet.allProviders)
    const setProvider = (p: WalletProvider) => store.dispatch('wallet/setProvider', p)
    const setAddress = (a: string) => store.dispatch('wallet/setAddress', a)

    const connect = (p: WalletProvider) => {
      // if (networkId.value != undefined && networkId.value !== config.networkId) {
      //   useToast().warning('please change network')
      //   return
      // }

      useWallet().getWeb3Address(p).then(address => {
        setAddress(address)
        setProvider(p)
        showModal.value = false
        useToast().success('Wallet connected!')
      })
    }

    const disconnect = () => {
      useToast().info('Wallet disconnected')
      store.dispatch('wallet/disconnect')
      showModal.value = false
    }

    const openModal = () => useEmitter().emit(config.events.OPEN_WALLET_MODAL)

    return {
      t, shortAddress, address, openModal, isConnected,
      allProviders, connect, disconnect, config, fromBaseUnit}
  }
})
</script>
